h1 ROM Manager Developer Portal
h4= "Welcome back " + developerName
#container
    a(href='/developer/upload') Upload new update.zip package
    span(style="margin-left:20px")
    a(href='/developer/settings') Developer Settings
h5 All Update.zip Files
table
    - var count = 0
    - each rom in roms
        - count++
        tr
            td= rom.name
            td
                a(href='/developer/rom/' + rom.id) Edit
            td
                a(href=rom.downloadUrl) Download
- if (count == 0)
    p(class='status') No ROMs listed. Get started by uploading one!
br
br
br
#container ROM hosting is free. ROMs hosted via ROM Manager Developer Portal will be listed
#container in the free section Monday through Friday. They will be in the Premium section
#container Saturday and Sunday.
