!!!
html
  head
    title= "ROM Manager Developer Portal"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.6.js')
    script(type='text/javascript', src='/highslide/highslide.js')
    link(rel='stylesheet', href='/highslide/highslide.css')

  body!= body