body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p.status {
  color: #00B020;
}

div.error {
  color: #DE0000;
}

img.thumbnail {
    max-width: 128px;
    max-height: 128px;
}